<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Hello!', welcome_say_hello_path %></p>
<p>index.html.erb as view of "welcome" controller, action "index"</p>
<p>configured in config/routes.rb</p>
<p><%= link_to 'DB:people', people_path %></p>
