
<%# simple_format: Replace \n with br / %>
<p>Name: <%= @event.name %></p>
Desc: <%= simple_format(@event.description) %>
 
<p><%= link_to 'Back to index', :controller => 'events', :action => 'index' %></p>

<%= content_for :sidebar do %>
   <ul>
       <li>foo</li>
       <li>bar</li>
   </ul>
<% end %>